name: CI/CD DevOps

on:
  push:
    branches: ["main"]

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Mostrar archivos
        run: |
          echo "Directorio actual:"
          pwd
          echo "Archivos presentes:"
          ls -la

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install
        working-directory: ${{ github.workspace }}

      - name: Run unit tests
        run: npm test
        working-directory: ${{ github.workspace }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/sryeisonrojas:latest .
        working-directory: ${{ github.workspace }}

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/sryeisonrojas:latest

      - name: Deploy to Render
        run: |
          curl -X POST \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
          -H "Content-Type: application/json" \
          -d '{}' \
          https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }}/deploys
